$accent-color: #77c;
$alt-accent-color: #c7c;
$utility-color: #ccc;
$light-gray: #eee;

$horizontal-margin: 10px;
$vertical-margin: 20px;

@function brightness($color) {
  $sum: red($color) + green($color) + blue($color);
  @return percentage($sum / (255 * 3));
}

@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: $vertical-margin;
}

.row {
  @include row;
}

@mixin column {
  flex: 1;

  margin-left: $horizontal-margin;
  &:first-child {
    margin-left: 0px;
  }
  margin-right: $horizontal-margin;
  &:last-child {
    margin-right: 0px;
  }
}
.column {
  @include column;
}

@mixin button($color: $accent-color) {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;

  border-radius: 6px;
  padding: 8px 10px;
  margin-bottom: $vertical-margin * 0.5;
  margin-right: $horizontal-margin;
  font-size: 15px;

  text-decoration: none;

  text-transform: uppercase;
  font-family: inherit;

  letter-spacing: 0.05em;

  // color
  background: $color;
  color: white;
  @if brightness($color) > 65% {
    color: black;
  }

  &:hover {
    background: darken($color, 10);
  }

  &.text:not(:hover) {
    background: $light-gray;
    color: $color;
  }

  &.invalid,
  &:disabled.invalid {
    color: red;
    pointer-events: none;
  }

  &:disabled {
    background: #ddd;
    color: #999;
    cursor: default;
  }

  transition: color 0.2s, background-color 0.2s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
dd {
  font-weight: bold;
  margin: 0;
}

dd + dt {
  margin-top: 10px;
}

button {
  @include button($accent-color);
}

input.inherit,
.inherit input {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  width: 100%;
  border: none;
  border-bottom: 3px dotted $accent-color;
  &:focus {
    background-color: $light-gray;
  }
  outline: none;
}

input:disabled.inherit {
  border: none;
  background: none;
  color: inherit;
}

.inline-block {
  display: inline-block;
}

a.simple {
  text-decoration: none;
  color: $accent-color;
  &:hover {
    text-decoration: underline;
  }
}

// vue / vue-router

// keen
.snackbar-container {
  z-index: 1000;
}
