$accent-color: #77c;
$alt-accent-color: #c7c;
$utility-color: #ccc;

$horizontal-margin: 10px;
$vertical-margin: 20px;

@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  margin-bottom: $vertical-margin;
}
.row {
  @include row;
}

@mixin column {
  flex: 1;

  margin-left: $horizontal-margin;
  &:first-child {
    margin-left: 0px;
  }
  margin-right: $horizontal-margin;
  &:last-child {
    margin-right: 0px;
  }
}
.column {
  @include column;
}

@mixin button($color: $accent-color) {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;

  border-radius: 6px;
  padding: 8px 10px;
  margin-bottom: $vertical-margin * 0.5;
  margin-right: $horizontal-margin;
  font-size: 15px;

  text-decoration: none;

  text-transform: uppercase;
  font-family: inherit;

  letter-spacing: 0.05em;
  color: white;

  &:not(.text) {
    background: $color;
    &:hover {
      background: darken($color, 10);
    }

    &:disabled {
      background: #ddd;
      color: #999;
    }
  }

  &.text {
    color: $color;
    background: rgba(0, 0, 0, 0);
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:disabled {
      background: rgba(0, 0, 0, 0);
      color: #ccc;
    }
  }

  &:disabled {
    cursor: default;
  }

  transition: color 0.2s, background-color 0.2s;
}
